#description p {
    font-size: 20px;
    /*sets description p font size*/
  }
  

#description {
    background-image: url('../Images/Techhex.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 200px;
    min-width: 50px;
    border-radius: 15px;
    border: 3px outset blue;
    /*Sets background image for description element and creates border*/
}


table {
  width: 100%;
  border-collapse: collapse;
  /*sizes table element*/
}

th {
  background: #49306B;
  color: white;
  padding: 12px;
  /*sizes table header and colours text/background*/
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /*sizes table data and adds bottom border*/
}

tr:hover td {
  background-color: #f5f5f5;
  /*when hovering over a table row, table row goes to above colour*/
}

#description h3, #description p {
    background-color: transparent;
    /*makes desicription text background clear*/
}