#Jdev_box {
    background-color: #CAF0F8;
    padding: 0.5em;
    width: 35%;
    float: left;
    border: 3px inset #0077B6;
    border-radius: 16px;
    margin-left: 3em;
    margin-bottom: 3em;
}
#Sdev_box {
    background-color: #CAF0F8;
    padding: 0.5em;
    width: 35%;
    float: right;
    border: 3px inset #0077B6;
    border-radius: 16px;
    margin-right: 3em;
    margin-bottom: 3em;
}


#dev_desc {
    padding: 0.5em;
    width: 60%;
    float: left ;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 2em;
}

#dev_WF {
    padding: 0.5em;
    width: 40%;
    float: left ;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 1em;
    margin-left: 1em;

}

#dev_sal {
    padding: 0.5em;
    width: 40%;
    float: right ;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 2em;
    margin-right: 1em;
    
}

#dev_req {
    padding: 0.5em;
    width: 40%;
    float: right ;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 1em;
    margin-right: 1em;

}
section, h2 {
    align-content: center;
}

h1{
    text-align: center;
}

aside {
    float: right;
    width: 25%;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px inset #0077B6;
    border-radius: 16px;
    clear: left;
}