.jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 100%;
    margin-top: 2em;
}

.job-box {
    background-color: #CAF0F8;
    padding: 1em;
    width: 42%;
    border: 3px inset #0077B6;
    border-radius: 16px;
    box-sizing: border-box;
}

.job-description {
    padding: 0.5em;
    width: 55%;
    float: left;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 1em;
}

.job-salary {
    padding: 0.5em;
    width: 35%;
    float: right;
    border: 2px inset #0077B6;
    border-radius: 8px;
    margin-bottom: 1em;
}

.job-workflow {
    padding: 0.5em;
    width: 55%;
    float: left;
    border: 2px inset #0077B6;
    border-radius: 8px;
}

.job-requirements {
    padding: 0.5em;
    width: 35%;
    float: right;
    border: 2px inset #0077B6;
    border-radius: 8px;
}

.job-code {
    float: right;
    width: auto;
    padding: 0.5em;
    border: 2px inset #0077B6;
    border-radius: 8px;
    background-color: white;
}

.requirements-box {
    float: right;
    width: 25%;
    margin: 1em;
    padding: 1em;
    border: 2px inset #0077B6;
    border-radius: 16px;
}

h1 {
    text-align: center;
}

ul,
ol {
    padding-left: 1.5em;
}

footer {
    clear: both;
    padding-top: 2em;
}